[submodule "lib/Sakaar-Struct"]
	path = lib/Sakaar-Struct
	url = https://github.com/Sakaar-BlockChain/Sakaar-Struct
	branch = main

[submodule "lib/Sakaar-CryptoBase"]
	path = lib/Sakaar-CryptoBase
	url = https://github.com/Sakaar-BlockChain/Sakaar-CryptoBase
	branch = main

[submodule "lib/Sakaar-NetWork"]
	path = lib/Sakaar-NetWork
	url = https://github.com/Sakaar-BlockChain/Sakaar-NetWork
	branch = main
